# Xcode
DerivedData/
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xcuserstate

# SwiftPM
.swiftpm/
.build/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# SPM artifacts
Package.resolved

# Xcode automatic device support files
DeviceSupport/

# User-specific files
*.moved-aside
*.xcuserdatad

# Playground
timeline.xctimeline
playground.xcworkspace

# Misc
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store

# IDEs
.idea/
*.swp

# Logs
*.log